<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jリーグ チーム一覧</title>
</head>
<body>
<header>
    <h1>MagiSystem</h1>
</header>

<div id="register_form" class="form">
    <h2 class="keeper">メインメニュー</h2>
    <p th:text = "${info}"></p>
    <form method="get" th:action="@{/scrape-team}">
        <button type="submit" class="menu_button">チーム情報収集</button>
    </form>
    <form method="get" th:action="@{/scrape-result}">
        <button type="submit" class="menu_button">勝敗結果収集</button>
    </form>
    <form method="get" th:action="@{/calc}">
        <button type="submit" class="menu_button">レート計算</button>
    </form>
    <form method="get" th:action="@{/prophet}">
        <button type="submit" class="menu_button">結果予測</button>
    </form>
</div>
<!-- チーム一覧を表示する部分のコードを追加 -->
<div>
    <h2>チーム一覧</h2>
    <ul>
        <li th:each="teamName : ${teamNames}" th:text="${teamName}"></li>
    </ul>
</div>

<table class="base_table" id="resultTable" th:if="${not #lists.isEmpty(gameResults)}">
    <caption>【収集結果】</caption>
    <thead>
    <th>年度</th>
    <th>大会</th>
    <th>節</th>
    <th>試合日</th>
    <th>K/O時刻</th>
    <th>ホーム</th>
    <th>スコア</th>
    <th>アウェイ</th>
    <th>スタジアム</th>
    </thead>
    <tr th:each="gameResult : ${gameResults}" th:object="${gameResult}">
        <td th:text="*{year}"/>
        <td th:text="*{tournament}"/>
        <td th:text="*{section}"/>
        <td th:text="*{gameDate}"/>
        <td th:text="*{gameTime}"/>
        <td th:text="*{home}"/>
        <td th:text="*{score}"/>
        <td th:text="*{away}"/>
        <td th:text="*{stadium}"/>
    </tr>
</table>

<!-- 前年と今年の試合結果を表示 -->
</body>
</html>
